CHECK_INTERVAL=60
BOT_TOKEN=токен
USE_PROXY=false
HTTP_PROXY=http://1.2.3.4:5678
HTTPS_PROXY=http://1.2.3.4:5678

RUTRACKER_USERNAME=
RUTRACKER_PASSWORD=
FILE_DIR=files

LOG_FILE=bot.log
LOG_FORMAT=%(asctime)s - %(levelname)s: %(name)s - %(message)s
LOG_LEVEL=INFO
LOG_MAX_BYTES=5120
LOG_BACKUP_COUNT=3
DB_PATH=database.db
USERS_DB_PATH=users.db

QBITTORRENT_ENABLED=true
QBITTORRENT_URL=http://1.2.3.4:5678
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin
QBITTORRENT_CATEGORY=downloads
QBITTORRENT_SAVE_PATH=/folder
QBITTORRENT_NO_PROXY=true
TIMEZONE=Europe/Moscow

